html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #1E1F3B;
}

#body-div {
    padding-bottom: 2em;
}

.category-number {
  color: #ffff33;
}

.blue-span {
  color: #BFEDF0;
}

#about-text {
  font-size: 1.3em;
}

.yellow-underline-span {
  color: #ffff33;
  text-decoration: underline;
}

.white-title {
  color: #FFFFFF;
}

#about-us-open {
  color: #ffffff;
  font-size: 2em;;
}

#naviation-section {
  padding-top: 1em;
  margin-bottom: 5em;
}

.spaced-nav-item {
  margin-left: 1em;
  margin-right: 1em;
}


#stream-section {
  padding-top: 1em;
  min-height: 500px;
}

#stream-section-border {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #99ccff,  #9966cc);
}

#about-us-section {
  padding-top: 1em;
  min-height: 500px;
  background-color: #272265;;
}

#about-us-border {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #cc99cc, #6633cc);
}

#game-schedule-section {
  padding-top: 1em;
  min-height: 500px;
  padding-bottom: 10em;
  background-image: linear-gradient(to top, #CBCCFF, #3B3B6D);
}

#donation-link-section-1 {
  padding-top: 1em;
  min-height: 500px;
  background-color: #333367;
}

#donation-link-section-2 {
  padding-top: 1em;
  min-height: 500px;
  background-color: #48327B;
}

#donation-link-section-3 {
  padding-top: 1em;
  min-height: 500px;
  background-color: #333367;
}

#donation-link-section-4 {
  padding-top: 1em;
  min-height: 500px;
  background-color: #48327B;
}

#donation-border {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #8ED8E7, #8356D7);
}

#about-content {
  width: 50%;
}

#title-section-border {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to right, #9999CC, #333366);
}

.center-content {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.center-input {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.twitch {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

.links-div {
  padding-left: 1em;
  padding-right: 1em;
}

.twitch .twitch-video {
    padding-top: 60%;
    position: relative;
    height: 0;
  }
  
  .twitch .twitch-video iframe {
    position: absolute;
    height: 100%;
    top: 0;
  }
  
  .twitch .twitch-chat {
    height: 400px;
  }
  
  .twitch .twitch-chat iframe {
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 850px) {
  .twitch {
    position: relative;
  }
  
  .twitch .twitch-video {
    width: 75%;
    padding-top: 43%;
  }

  .twitch .twitch-chat {
    width: 25%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

  